################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRCloudMe/HRCloudMe/obj
/HRCloudMe/HRCloudMe/bin/Debug/net8.0
/.vs
/HRCloudMe/.vs
